<h3><%= problem.name %></h3>
<p><%= problem.description %></p>

<hr>

<%= render problem.current_solution if problem.current_solution %>

<%= link_to "Submit Solution", new_problem_solution_path(problem) %>
