<h2>Hi <%= @user.email %> </h2>

<% if notice = flash[:notice] %>
  <p class="notice" style="background_color: green; color: white;"><%= notice %></p>
<% end %>

<p>You have no problems, or do you?!</p>
<p><%= link_to "log out", user_path(cookies.permanent.signed[:user_id]), method: :delete  %></p>
