<h2>Your unsolved problems</h2>

<div class='unsolved_problems' >
  <%= render partial: @unsolved_problems %>
</div>

<h2>Your solved problems</h2>

<div class='solved_problems' >
  <%= render partial: @solved_problems %>
</div>
